# Banco de dados
POSTGRES_DB=cognix
POSTGRES_USER=cognix
POSTGRES_PASSWORD=troque_esta_senha
API_PORT=8000
UVICORN_WORKERS=2
FIREBASE_CREDENTIALS=/app/secrets/firebase-service-account.json
# IA
GEMINI_API_KEY=coloque_sua_chave_aqui
GEMINI_MODEL=gemini-2.5-flash
# CORS
ALLOWED_ORIGINS=["https://mkt.cognix-hub.com","https://www.mkt.cognix-hub.com","https://cognix-hub.com","https://www.cognix-hub.com"]
APP_TIMEZONE=America/Sao_Paulo
# Transações
ABACATEPAY_API_KEY=coloque_sua_chave_aqui
ABACATEPAY_API_BASE_URL=https://api.abacatepay.com/v2
ABACATEPAY_APP_URL=https://mkt.cognix-hub.com
ABACATEPAY_PRODUCT_ID_MENSAL=prod_plano_mensal
ABACATEPAY_PRODUCT_ID_ANUAL=prod_plano_anual
ABACATEPAY_COUPON_MENSAL_FIRST_MONTH=COGNIX10
ABACATEPAY_HASH_SECRET=gere_um_segredo_longo_para_hash
ABACATEPAY_WEBHOOK_SECRET=gere_um_secret_para_url_do_webhook
# Google Play Billing
GOOGLE_PLAY_PACKAGE_NAME=com.cognixhub.app
GOOGLE_PLAY_PRODUCT_ID_MONTHLY=cognix_premium_monthly
GOOGLE_PLAY_PRODUCT_ID_ANNUAL=cognix_premium_annual
GOOGLE_PLAY_SERVICE_ACCOUNT_CREDENTIALS=/app/secrets/google-play-service-account.json
# PLANO TRIAL
COGNIX_TRIAL_DAYS=3
