# Banco de dados
POSTGRES_DB=cognix
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
API_PORT=8000
FIREBASE_CREDENTIALS=./secrets/firebase-service-account.json
# IA
GEMINI_API_KEY=coloque_sua_chave_aqui
GEMINI_MODEL=gemini-2.5-flash
# Transações
ABACATEPAY_API_KEY=coloque_sua_chave_aqui
ABACATEPAY_API_BASE_URL=https://api.abacatepay.com/v2
ABACATEPAY_APP_URL=https://mkt.cognix-hub.com
ABACATEPAY_PRODUCT_ID_MENSAL=prod_plano_mensal
ABACATEPAY_PRODUCT_ID_ANUAL=prod_plano_anual
ABACATEPAY_COUPON_MENSAL_FIRST_MONTH=COGNIX10
ABACATEPAY_HASH_SECRET=gere_um_segredo_longo_para_hash
ABACATEPAY_WEBHOOK_SECRET=gere_um_secret_para_url_do_webhook
# PLANO TRIAL
COGNIX_TRIAL_DAYS=3
